services:
  webapp:
    build:
      context: .
    ports:
      - ${APP_PORT}:${APP_PORT}
    environment:
      APP_PORT: ${APP_PORT}
      RI_APP_PORT: ${RI_APP_PORT}
      RI_APP_HOST: "reddis"
    volumes:
      - app-data:/opt/app-web-docker/data

  reddis:
    image: redis
    restart: always
    ports:
      - ${RI_APP_PORT}:${RI_APP_PORT}
    command: >
      redis-server
      --maxmemory 2000mb
      --maxmemory-policy allkeys-lru
      --save 60 1
      --save 300 10
      --save 900 100
      --appendonly yes
      --appendfsync everysec
      --loglevel warning
      --port ${RI_APP_PORT}
    volumes:
      - redis-data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  app-data:
    driver: local
  redis-data:
    driver: local